<div>
	<footer class="footer">
		<div class="footer_grid">
			<div class="social">
				<a href="https://github.com/Wusabinga?tab=repositories"
					><%- include('./svg/github-alt-brands.svg') %>
				</a>
			</div>
			<div class="copyright">
				&#169; 2020 -
				<script>
					document.write(new Date().getFullYear());
				</script>
				by Coding-Experience
			</div>
		</div>
	</footer>
</div>
<script src="./jsClient/head.js"></script>
